$font-stack: Helvetica, sans-serif;
$primary-color: rgb(238, 228, 221);

@font-face {
  font-family: "MonsterHunter";
  src: url("../public/font/monsterhunter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  background-color: rgb(72, 51, 36);
  font-family: "MonsterHunter", Arial, sans-serif;
  letter-spacing: 1.5px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  font-size: 4rem;
  color: white;
  margin: 0;
  padding: 0;
  justify-self: flex-start;
}

.card-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  padding: 0;
  width: fit-content;
  margin: auto;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20vh;
  height: 30vh;
  background: linear-gradient(to bottom, rgb(192, 176, 142), rgb(143, 108, 43));
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s;
  backface-visibility: hidden;

  &:hover {
    transform: scale(1.05);
    background: linear-gradient(to bottom, white, rgb(150, 131, 92));

    .front {
      transform: translate(-10px, -20px) scale(1.4);
    }
  }

  img {
    height: auto;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .front {
    transition: transform 0.3s;
  }

  .title {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    text-align: center;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1000;
}

.modal-content {
  width: 80%; /* Adjust the width as needed */
  max-width: 400px; /* Maximum width for the content */
  border-radius: 10px;
  z-index: 1001;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  img {
    width: 450px;
    height: auto;
    object-fit: cover;

    animation-name: pulse;
    animation-delay: 0.5s;
    animation-duration: 0.25s;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(243, 163, 0);
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
  }

  .button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(243, 163, 0);
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: rotate(-10deg) scale(5);
  }
  50% {
    opacity: 0.5;

    transition: all 0.1s ease;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.top-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 0 2rem;
  align-items: center;

  .title {
    justify-self: center;
    grid-column: 2;
    font-size: 2rem;
    color: white;
    margin: 0;
    padding: 0;
  }
}

.scores {
  grid-column: 3; /* Position the scores in the third column */
  color: white; /* Adjust color here */
  justify-self: self-end;
}

.score {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.2rem;

  img {
    width: 2.5rem;
  }
}

.bottom-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 4rem;
  color: white;

  button {
    background-color: transparent;
    border: none;
    transition: 0.3s;
  }

  button:hover {
    transform: scale(1.2);
  }
}

/* Extra Small Devices (portrait phones) */
@media (max-width: 576px) {
  /* Styles for extra small devices */
  .card {
    width: 15vh;
    height: 25vh;
  }

  .card-container {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Small Devices (landscape phones, portrait tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Styles for small devices */
  .card {
    width: 15vh;
    height: 25vh;
  }

  .card-container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Medium Devices (landscape tablets, small laptops) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Styles for medium devices */
  .card {
    width: 15vh;
    height: 25vh;
  }

  .card-container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Large Devices (laptops, desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
  /* Styles for large devices */
  .card {
    width: 15vh;
    height: 25vh;
  }

  .card-container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Extra Large Devices (large laptops and desktops) */
@media (min-width: 1201px) {
  /* Styles for extra large devices */
  .card {
    width: 20vh;
    height: 30vh;
  }

  .card-container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
  }
}

.icon-container {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(243, 163, 0);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  display: flex;
}
